﻿@model TheAccessSystemCourseWork.Models.User

@{
    ViewBag.Title = "Детали пользователя";
    bool isAdmin = User.IsInRole("Admin") || User.IsInRole("PassOfficeEmployee");
    Layout = "_Layout";
}

<h2>Детали пользователя</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Update" method="post" asp-route-id="@Model.ID">
            <div class="form-group">
                <label asp-for="ID" class="control-label">Идентификатор</label>
                <input asp-for="ID" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label">Роль</label>
                @if (isAdmin)
                {
                    <select asp-for="Role" asp-items="Html.GetEnumSelectList<TheAccessSystemCourseWork.Models.Roles>()" class="form-control">
                        <option >Выберите роль</option>
                    </select>
                }
                else
                {
                    <input asp-for="Role" class="form-control" readonly />
                }
            </div>

            <div class="form-group">
                <label asp-for="PassID" class="control-label">Пропуск</label>
                <input asp-for="PassID" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Login" class="control-label">Логин</label>
                @if (isAdmin)
                {
                    <input asp-for="Login" class="form-control" />
                }
                else
                {
                    <input asp-for="Login" class="form-control" readonly />
                }
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                @if (isAdmin)
                {
                    <input asp-for="Password" class="form-control" />
                }
                else
                {
                    <input asp-for="Password" class="form-control" readonly />
                }
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
