﻿@model TheAccessSystemCourseWork.Models.PersonalAccountViewModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}

<h2>Личный кабинет</h2>

<div>
    <h3>Основная информация</h3>
    <p><strong>Логин:</strong> @Model.User.Login</p>
    <p><strong>Роль:</strong> @Model.User.Role.GetDisplayName()</p>
</div>

@if (User.IsInRole("Guest"))
{
    <div>
        <h3>Информация о госте</h3>
        <p><strong>Имя:</strong> @Model.Guest.FirstName</p>
        <p><strong>Фамилия:</strong> @Model.Guest.SecondName</p>
        <p><strong>Отчество:</strong> @Model.Guest.MiddleName</p>
        <p><strong>Номер телефона:</strong> @Model.Guest.PhoneNumber</p>
        <p><strong>Паспорт:</strong> @Model.Guest.Passport</p>
    </div>
}
else
{
    <div>
        <h3>Информация о сотруднике</h3>
        <p><strong>Имя:</strong> @Model.Employee.FirstName</p>
        <p><strong>Фамилия:</strong> @Model.Employee.SecondName</p>
        <p><strong>Отчество:</strong> @Model.Employee.MiddleName</p>
        <p><strong>Должность:</strong> @Model.Employee.Position</p>
        <p><strong>Отдел:</strong> @Model.Employee.Department</p>
        <p><strong>Дата рождения:</strong> @(Model.Employee.BirthDate.ToString("dd MMMM yyyy"))</p>
        <p><strong>Номер телефона:</strong> @("+7" + Model.Employee.PhoneNumber)</p>
    </div>
}

<div>
    <h3>Информация о пропусках</h3>
    <p><strong>Идентификатор пропуска:</strong> @Model.User.PassID</p>
     <p><strong>Тип пропуска:</strong> @Model.User.Pass.Type.GetDisplayName()</p>
</div>

<p>
    <a asp-action="UpdatePassword" class="btn btn-primary">Изменить пароль</a>
</p>