﻿@model string

@{
    ViewBag.Title = "Смена пароля";
    Layout = "_Layout";
}

<h2>Смена пароля</h2>

<form asp-action="UpdatePassword" method="post">
    <div class="form-group">
        <label for="newPassword">Новый пароль</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required />
    </div>
    <button type="submit" class="btn btn-primary">Подтвердить</button>
</form>

<div>
    <a asp-action="PersonalAccount" class="btn btn-secondary">Отмена</a>
</div>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}