﻿@model TheAccessSystemCourseWork.Models.Pass

@{
    ViewBag.Title = "Детали пропуска";
    bool isAdmin = User.IsInRole("Admin") || User.IsInRole("PassOfficeEmployee");
    var rightsLevels = ViewBag.RightsLevels as List<RightsLevel>;
    Layout = "_Layout";
}

<h2>Детали пропуска</h2>
<form id="updatePassForm">
    <div class="form-group">
        <label asp-for="ID" class="control-label">ID</label>
        <input asp-for="ID" class="form-control" readonly/>
    </div>

    <div class="form-group">
        <label asp-for="CreatedAt" class="control-label">Дата и время создания</label>
        <input asp-for="CreatedAt" class="form-control" readonly/>
    </div>

    <div class="form-group">
        <label asp-for="Type" class="control-label">Тип пропуска</label>
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<TheAccessSystemCourseWork.Models.PassType>()" class="form-control">
            <option value="@Model.Type.GetDisplayName()"></option>
        </select>

    </div>

    <div class="form-group">
        <label asp-for="IsActive" class="control-label">Активен</label>
        <input type="checkbox" asp-for="IsActive" class="form-check-input"/>
        <span asp-validation-for="IsActive" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="IsAttached" class="control-label">Прикреплен</label>
        <input type="checkbox" asp-for="IsAttached" class="form-check-input"/>
        <span asp-validation-for="IsAttached" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ExpiredAt" class="control-label">Дата деактивации</label>
        <input asp-for="ExpiredAt" type="date" class="form-control"/>
        <span asp-validation-for="ExpiredAt" class="text-danger"></span>

    </div>
    

    <div class="form-group">
        <label>Права</label>
        <div class="list-group">
            @foreach (var rightsLevel in rightsLevels)
            {
                var isChecked = Model.PassRights.Any(cr => cr.RightsLevelID == rightsLevel.ID) ? "list-group-item-primary" : "";
                <label class="list-group-item @isChecked">
                    <input type="checkbox" name="rightsIds" value="@rightsLevel.ID" class="form-check-input"
                           @(Model.PassRights.Any(cr => cr.RightsLevelID == rightsLevel.ID) ? "checked" : "")/>
                    @rightsLevel.ID - @rightsLevel.Description
                </label>
            }
        </div>
    </div>
    
    <input type="hidden" asp-for="ID"/>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary"/>
    </div>
    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#updatePassForm').submit(function(event) {
                event.preventDefault();
                var form = $(this);
                var rightsIds = [];
                $('input[name="rightsIds"]:checked').each(function() {
                    rightsIds.push($(this).val());
                });

                var pass = {
                    ID: $('input[name="ID"]').val(),
                    IsAttached: $('select[name="IsAttached"]').is(':checked'),
                    IsActive: $('input[name="IsActive"]').is(':checked'),
                    ExpiredAt: $('input[name="ExpiredAt"]').val()
                };
                
                const request = JSON.stringify({
                                  Pass : pass,
                                  RightsIds: rightsIds
                              });

                $.ajax({
                    url: `Pass/UpdatePass/${request}`,
                    type: 'POST',
                    contentType: 'application/json',
                    body: JSON.stringify({
                        Pass : pass,
                        RightsIds: rightsIds
                    }),
                    data: JSON.stringify({
                        Pass: pass,
                        RightsIds: rightsIds
                    }),
                });
            });
        });
    </script>
}
