﻿@model Checkpoint

@{
    ViewBag.Title = "Add Checkpoint";
    Layout = "_Layout";
    var rightsLevels = ViewBag.RightsLevels as List<RightsLevel>;
    var factoryAreas = ViewBag.FactoryAreas as List<FactoryArea>;
}

<h2>Добавить контрольную точку</h2>

<form asp-action="AddCheckpoint" method="post">
    <div class="form-group">
        <label asp-for="ID" class="control-label"></label>
        <input asp-for="ID" class="form-control" />
        <span asp-validation-for="ID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Зона</label>
        <select asp-for="AreaID" class="form-control">
            @foreach (var area in factoryAreas)
            {
                <option value="@area.ID">@area.Name</option>
            }
        </select>
        <span asp-validation-for="AreaID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive" class="control-label"></label>
        <input type="checkbox" asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsBlocked" class="control-label"></label>
        <input type="checkbox" asp-for="IsBlocked" class="form-check-input" />
        <span asp-validation-for="IsBlocked" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Права доступа</label>
        <select name="rightsIds" multiple class="form-control">
            @foreach (var rightsLevel in rightsLevels)
            {
                <option value="@rightsLevel.ID">@rightsLevel.ID - @rightsLevel.Description</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}