﻿@model TheAccessSystemCourseWork.Models.FactoryArea

@{
    ViewBag.Title = "Создание помещения";
    Layout = "_Layout";
}

<h2>Создание помещения</h2>

<form asp-action="AddFactoryArea" method="post">
    <div class="form-group">
        <label asp-for="Building" class="control-label">Здание</label>
        <input asp-for="Building" class="form-control" />
        <span asp-validation-for="Building" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Floor" class="control-label">Этаж</label>
        <input asp-for="Floor" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название помещения</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>