﻿@model Pass

@{
    ViewBag.Title = "Изменение прав доступа пропуска";
    Layout = "_Layout";
}

<h2>Изенение прав доступа</h2>

<form asp-action="ChangePassRights" method="post">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label>Rights</label>
        @foreach (var rightsLevel in ViewBag.RightsLevels as List<RightsLevel>)
        {
            <div>
                <input type="checkbox" name="rightsIds" value="@rightsLevel.ID" @(Model.PassRights.Any(pr => pr.RightsLevelID == rightsLevel.ID) ? "checked" : "") />
                @rightsLevel.Description
            </div>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Изменить права" class="btn btn-primary" />
    </div>
</form>
