﻿@model List<Checkpoint>

@{
    ViewBag.Title = "Контрольные точки";
    Layout = "_Layout";
}

<h2>Контрольные точки</h2>

<p>
    <a asp-action="AddCheckpoint" class="btn btn-primary">Добавить контрольную точку</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Зона</th>
            <th>Идентификатор зоны</th>
            <th>Статус блокировки</th>
            <th>Статус</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var checkpoint in Model)
        {
            <tr>
                <td>@checkpoint.ID</td>
                <td>@checkpoint.FactoryArea.Name</td>
                <td>@checkpoint.AreaID</td>
                <td>@(checkpoint.IsBlocked ? "Заблокирована" : "Разблокирована")</td>
                <td>@(checkpoint.IsActive ? "Активна" : "Неактивна")</td>
                <td>
                    <a href="/Admin/UpdateCheckpoint/@checkpoint.ID" class="btn btn-primary">Изменить</a>
                    <button class="btn btn-danger" onclick="deleteCheckpoint('@checkpoint.ID')">Удалить</button>
                    <button class="btn btn-warning" onclick="toggleBlockCheckpoint(@checkpoint.ID, @(checkpoint.IsBlocked ? "true" : "false"))">@(checkpoint.IsBlocked ? "Разблокировать" : "Заблокировать")</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function deleteCheckpoint(id) {
            if (confirm("Вы уверены в удалении контрольной точки?")) {
                $.ajax({
                    url: '/Admin/DeleteCheckpoint/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        location.reload();
                    }
                });
            }
        }

        function toggleBlockCheckpoint(id, isBlocked) {
                const action = isBlocked ? 'Unlock' : 'Block';            
                $.ajax({
                url: `/Admin/${action}Checkpoint`,
                type: 'POST',
                body: {checkpointId : id},
                data: {checkpointId : id}, 
                success: function(result) {
                    location.reload();
                }
            });
        }
    </script>
}
