﻿@model IEnumerable<TheAccessSystemCourseWork.Models.FactoryArea>

@{
    ViewBag.Title = "Помещения";
    Layout = "_Layout";
}

<h2>Помещения</h2>

<p>
    <a asp-action="AddFactoryArea" class="btn btn-primary">Добавить помещение</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Идентификатор</th>
        <th>Здание</th>
        <th>Этаж</th>
        <th>Название</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Building</td>
            <td>@item.Floor</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="UpdateFactoryArea" asp-route-id="@item.ID" class="btn btn-warning">Изменить</a>
                <form asp-action="DeleteFactoryArea" asp-route-id="@item.ID" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>