﻿@model Checkpoint

@{
    ViewBag.Title = "Обновление контрольной точки";
    Layout = "_Layout";
    var rightsLevels = ViewBag.RightsLevels as List<RightsLevel>;
    var factoryAreas = ViewBag.FactoryAreas as List<FactoryArea>;
}

<h2>Обновление данных контрольной точки</h2>

<form id="updateCheckpointForm">
    <div class="form-group">
        <label asp-for="ID" class="control-label"></label>
        <input asp-for="ID" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="control-label">Зона</label>
        <select asp-for="AreaID" class="form-control">
            @foreach (var area in factoryAreas)
            {
                <option value="@area.ID">@area.Name</option>
            }
        </select>
        <span asp-validation-for="AreaID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsActive" class="control-label"></label>
        <input type="checkbox" asp-for="IsActive" class="form-check-input" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsBlocked" class="control-label"></label>
        <input type="checkbox" asp-for="IsBlocked" class="form-check-input" />
        <span asp-validation-for="IsBlocked" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Rights Levels</label>
        <div class="list-group">
            @foreach (var rightsLevel in rightsLevels)
            {
                var isChecked = Model.CheckpointRights.Any(cr => cr.RightsLevelID == rightsLevel.ID) ? "list-group-item-primary" : "";
                <label class="list-group-item @isChecked">
                    <input type="checkbox" name="rightsIds" value="@rightsLevel.ID" class="form-check-input" 
                        @(Model.CheckpointRights.Any(cr => cr.RightsLevelID == rightsLevel.ID) ? "checked" : "") />
                    @rightsLevel.ID - @rightsLevel.Description
                </label>
            }
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#updateCheckpointForm').submit(function(event) {
                event.preventDefault();

                var form = $(this);
                var rightsIds = [];
                $('input[name="rightsIds"]:checked').each(function() {
                    rightsIds.push($(this).val());
                });

                var checkpoint = {
                    ID: $('input[name="ID"]').val(),
                    AreaID: $('select[name="AreaID"]').val(),
                    IsActive: $('input[name="IsActive"]').is(':checked'),
                    IsBlocked: $('input[name="IsBlocked"]').is(':checked')
                };

                $.ajax({
                    url: '@Url.Action("UpdateCheckpoint", "Admin")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Checkpoint: checkpoint,
                        RightsIds: rightsIds
                    }),
                    success: function(response) {
                        window.location.href = '@Url.Action("Checkpoints", "Admin")';
                    },
                });
            });
        });
    </script>
}
