﻿@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Edit Map";
    var buildingName = ViewBag.BuildingName as string;
    var floorNumber = ViewBag.FloorNumber as int?;
    var factoryAreas = ViewBag.FactoryAreas as List<FactoryArea>;
}

<h2>Изменить план - Здание: @buildingName, Этаж: @floorNumber</h2>

<div id="map-container" style="position: relative;">
    <img id="uploaded-map" src="@ViewBag.FloorImagePath" alt="Uploaded Map" style="width: 100%; max-width: 800px;" />
</div>

<form asp-action="SaveMapData" method="post">
    <input type="hidden" id="mapData" name="mapData" />
    <input type="hidden" name="buildingName" value="@buildingName" />
    <input type="hidden" name="floorNumber" value="@floorNumber" />
    <button type="submit" class="btn btn-primary mt-3">Сохранить план здания</button>
</form>

<script>
    var mapDataInput = document.getElementById('mapData');
    var mapAreas = @Html.Raw(JsonConvert.SerializeObject(ViewBag.MapAreas));
    var factoryAreas = @Html.Raw(JsonConvert.SerializeObject(factoryAreas));
    var selectedArea = null;
    var isDragging = false;

    function addNewArea(x, y, roomId, roomName, roomDescription) {
        var newArea = document.createElement('div');
        newArea.classList.add('map-area');
        newArea.style.position = 'absolute';
        newArea.style.left = x + 'px';
        newArea.style.top = y + 'px';
        newArea.style.width = '50px';
        newArea.style.height = '50px';
        newArea.style.background = 'rgba(255,0,0,0.5)';
        newArea.dataset.roomId = roomId;
        newArea.dataset.roomName = roomName;
        newArea.dataset.roomDescription = roomDescription;

        newArea.addEventListener('dblclick', function () {
            if (confirm('Вы уверены, что хотите удалить это помещение?')) {
                mapAreas = mapAreas.filter(area => area.RoomId !== roomId);
                newArea.remove();
                mapDataInput.value = JSON.stringify(mapAreas);
                updateRoomSelection();
            }
        });

        newArea.addEventListener('mousedown', function (e) {
            isDragging = true;
            selectedArea = newArea;
            offsetX = e.offsetX;
            offsetY = e.offsetY;
        });

        document.getElementById('map-container').appendChild(newArea);
    }

    if (mapAreas.length > 0) {
        mapAreas.forEach(function (area) {
            addNewArea(area.X, area.Y, area.RoomId, area.RoomName, area.RoomDescription);
        });
    }

    function updateRoomSelection() {
        var roomSelection = document.getElementById('room-selection');
        if (roomSelection) {
            roomSelection.innerHTML = '<option value="">Выберите помещение</option>';
            
            factoryAreas.forEach(function (area) {
                var isAssigned = mapAreas.some(function (mapArea) {
                    return mapArea.RoomId === area.ID;
                });

                // If the room is not assigned, add it to the list
                if (!isAssigned) {
                    var option = document.createElement('option');
                    option.value = area.ID;
                    option.text = area.Name;
                    roomSelection.appendChild(option);
                } else {
                    // If the room is assigned, remove it from the list
                    var optionToRemove = roomSelection.querySelector('option[value="' + area.ID + '"]');
                    if (optionToRemove) {
                        optionToRemove.remove();
                    }
                }
            });
        }
    }

    document.getElementById('uploaded-map').addEventListener('click', function (e) {
        if (isDragging) return;

        var x = e.offsetX;
        var y = e.offsetY;

        var roomSelection = document.createElement('select');
        roomSelection.id = 'room-selection'; 
        roomSelection.innerHTML = '<option value="">Выберите помещение</option>';
        
        factoryAreas.forEach(function (area) {
            var option = document.createElement('option');
            option.value = area.ID;
            option.text = area.Name;
            roomSelection.appendChild(option);
        });

        roomSelection.onchange = function () {
            var selectedId = roomSelection.value;
            var selectedAreaData = factoryAreas.find(area => area.ID == selectedId);
            
            if (selectedAreaData) {
                mapAreas.push({
                    RoomId: selectedAreaData.ID,
                    RoomName: selectedAreaData.Name,
                    RoomDescription: selectedAreaData.Name,
                    X: x,
                    Y: y
                });
                addNewArea(x, y, selectedAreaData.ID, selectedAreaData.Name, selectedAreaData.Name);
                mapDataInput.value = JSON.stringify(mapAreas);
                updateRoomSelection(); 
            }
            roomSelection.remove();
        };

        document.body.appendChild(roomSelection);
        roomSelection.focus();
    });

    document.addEventListener('mouseup', function () {
        isDragging = false;
        selectedArea = null;
    });

    document.addEventListener('mousemove', function (e) {
        if (isDragging && selectedArea) {
            var mapContainer = document.getElementById('map-container');
            var rect = mapContainer.getBoundingClientRect();
            var x = e.clientX - rect.left - offsetX;
            var y = e.clientY - rect.top - offsetY;

            selectedArea.style.left = x + 'px';
            selectedArea.style.top = y + 'px';

            var roomId = selectedArea.dataset.roomId;
            var area = mapAreas.find(area => area.RoomId === roomId);
            if (area) {
                area.X = x;
                area.Y = y;
                mapDataInput.value = JSON.stringify(mapAreas);
            }
        }
    });
</script>


<style>
    .map-area {
        cursor: pointer;
    }
</style>
