﻿@using Newtonsoft.Json
@model List<Building>

@{
    ViewData["Title"] = "Карта предприятия";
    var buildings = ViewBag.Buildings as List<string>;
    var floors = ViewBag.Floors as Dictionary<string, List<int>>;
}

<h2 class="text-center mt-4">Конструктор плана здания</h2>

<form asp-action="UploadMap" method="post" enctype="multipart/form-data" class="container mt-4">
    <div class="mb-3">
        <label for="building-name" class="form-label">Название здания:</label>
        <select id="building-name" name="buildingName" class="form-control" required>
            <option value="">Выберите здание</option>
            @foreach (var building in buildings)
            {
                <option value="@building">@building</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="floor-number" class="form-label">Этаж:</label>
        <select id="floor-number" name="floorNumber" class="form-control" required>
            <option value="">Выберите этаж</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="map-image" class="form-label">Загрузить план:</label>
        <input type="file" id="map-image" name="mapImage" class="form-control" accept="image/*" required/>
    </div>

    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>

<form asp-action="ViewBuildings" method="get" class="position-fixed" style="top: 120px; right: 10px;">
    <button type="submit" class="btn btn-primary">Просмотр зданий и этажей</button>
</form>

<h3 class="mt-4">Добавленные здания</h3>
<div class="container mt-4">
    @foreach (var building in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">@building.BuildingName</h4>
                <ul class="list-group list-group-flush">
                    @foreach (var floor in building.Floors)
                    {
                        <li class="list-group-item">
                            <a asp-action="EditMap" asp-route-buildingName="@building.BuildingName" asp-route-floorNumber="@floor.FloorNumber">
                                Этаж @floor.FloorNumber
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>

<script>
    var floors = @Html.Raw(JsonConvert.SerializeObject(floors));

    document.getElementById('building-name').addEventListener('change', function () {
        var building = this.value;
        var floorSelect = document.getElementById('floor-number');
        floorSelect.innerHTML = '<option value="">Выберите этаж</option>';

        if (floors[building]) {
            floors[building].forEach(function (floor) {
                var option = document.createElement('option');
                option.value = floor;
                option.textContent = 'Этаж ' + floor;
                floorSelect.appendChild(option);
            });
        }
    });
</script>
