﻿@model List<TheAccessSystemCourseWork.Models.Building>
@using Newtonsoft.Json;
@using System.Web;

@{
    ViewData["Title"] = "Просмотр карты";
}

<h2>Список зданий и этажей</h2>

<div style="display: flex;">
    <div id="map-container" style="flex: 2; position: relative; margin-right: 20px;">
        <img id="uploaded-map" src="" alt="Uploaded Map" style="width: 100%; max-width: 800px;" />
    </div>
    <div style="flex: 1;">
        @foreach (var building in Model)
        {
            <div>
                <h4>@building.BuildingName</h4>
                <ul>
                    @foreach (var floor in building.Floors)
                    {
                        <li>
                            @{
                                var areaAuthData = floor.MapAreas.Select(area => new 
                                { 
                                    RoomName = area.RoomName, 
                                    IsAuthorized = ViewBag.AreasRights.ContainsKey(area.RoomName) ? ViewBag.AreasRights[area.RoomName] : false 
                                }).ToList();
                                var areaAuthDataJson = JsonConvert.SerializeObject(areaAuthData);
                                var escapedAreaAuthDataJson = HttpUtility.JavaScriptStringEncode(areaAuthDataJson);
                            }
                            <a href="javascript:void(0);" 
                               onclick="showFloor('@HttpUtility.JavaScriptStringEncode(building.BuildingName)', @floor.FloorNumber, '@floor.FloorImage', '@Url.Action("GetMapData", "Map", new { buildingName = building.BuildingName, floorNumber = floor.FloorNumber })', '@escapedAreaAuthDataJson')">
                                Этаж @floor.FloorNumber
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<script>
    function showFloor(buildingName, floorNumber, floorImage, mapDataUrl, areaAuthDataJson) {
        console.log("Raw areaAuthDataJson:", areaAuthDataJson); 
        var areaAuthData;
        try {
            areaAuthData = JSON.parse(areaAuthDataJson);
            console.log("Parsed areaAuthData:", areaAuthData);  
        } catch (e) {
            console.error("JSON parse error:", e);
            return;
        }

        var img = document.getElementById('uploaded-map');
        var imgPath = '/images/' + buildingName + '/' + floorNumber + '/' + floorImage;
        img.src = imgPath;

        img.onload = function() {
            fetch(mapDataUrl)
                .then(response => response.json())
                .then(mapData => {
                    console.log(mapData);
                    document.querySelectorAll('.map-area').forEach(area => area.remove());

                    mapData.forEach(area => {
                        var newArea = document.createElement('div');
                        newArea.classList.add('map-area');
                        newArea.style.position = 'absolute';
                        newArea.style.width = '50px';
                        newArea.style.height = '50px';
                        
                        newArea.style.background = 'rgba(255,0,0,0.5)';
                        newArea.dataset.roomId = area["roomId"];
                        newArea.dataset.roomName = area["roomName"];
                        newArea.dataset.roomDescription = area["roomDescription"];
                        var a = area["roomName"];
                        var b = area["roomDescription"];
                        newArea.title = `${a}: ${b}`;
                        newArea.style.left = area["x"] + 'px';
                        newArea.style.top = area["y"] + 'px';


                        var authInfo = areaAuthData.find(data => data.RoomName === area["roomName"]);
                        if (authInfo && authInfo.IsAuthorized) {
                            newArea.style.background = 'rgba(0,255,0,0.5)'; 
                        }

                        document.getElementById('map-container').appendChild(newArea);
                    });
                })
                .catch(error => console.error('Ошибка при получении данных карты:', error));
        };
    }
</script>
