﻿@model List<RightsLevel>

@{
    ViewBag.Title = "Rights Levels List";
}

<h2>Список прав доступа</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить уровень прав</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Описание</th>
            <th>Требуемый департамент</th>
            <th>Требуемая должность</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rightsLevel in Model)
        {
            <tr>
                <td>@rightsLevel.ID</td>
                <td>@rightsLevel.Description</td>
                <td>@rightsLevel.RequiredDepartment</td>
                <td>@rightsLevel.RequiredPosition</td>
                <td>
                    <a href="/Rights/Update/@rightsLevel.ID" class="btn btn-primary">Изменить</a>
                    <button class="btn btn-danger" onclick="deleteRightsLevel('@rightsLevel.ID')">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function deleteRightsLevel(id) {
            if (confirm("Вы уверены вы удалении уровня доступа прав?")) {
                $.ajax({
                    url: '/Rights/Delete/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        location.reload();
                    }
                });
            }
        }
    </script>
}
