﻿@model RightsLevel

@{
    ViewBag.Title = "Update Rights Level";
}

<h2>Изменение прав доступа</h2>

<form asp-action="UpdateRights" method="post">
    <div class="form-group">
        <label asp-for="ID" class="control-label"></label>
        <input asp-for="ID" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RequiredDepartment" class="control-label"></label>
        <input asp-for="RequiredDepartment" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="RequiredPosition" class="control-label"></label>
        <input asp-for="RequiredPosition" class="form-control" />
        <span asp-validation-for="RequiredPosition" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-primary" />
    </div>
</form>
