﻿@model IEnumerable<CheckpointPassingAttempts>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<table class="table">
    <thead>
    <tr>
        <th>Дата и время</th>
        <th>Контрольная точка</th>
        <th>Номер пропуска</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var attempt in Model)
    {
        <tr>
            <td>@attempt.AttemptTime</td>
            <td>@attempt.CheckpointID</td>
            <td>@attempt.PassID</td>
            <td>
                <form asp-action="UnblockCheckpoint" asp-route-checkpointId="@attempt.CheckpointID" method="post">
                    <button type="submit" class="btn btn-success">Разблокировать</button>
                </form>
            </td>
            <td>
                 <form asp-action="BlockCheckpoint" asp-route-checkpointId="@attempt.CheckpointID" method="post">
                     <button type="submit" class="btn btn-danger">Заблокировать</button>
                 </form>
            </td>
        </tr>
    }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
