﻿@model TheAccessSystemCourseWork.Models.Employee

@{
    ViewBag.Title = "Создание сотрудника";
    Layout = "_Layout";
}

<h2>Создание сотрудника</h2>

<form asp-action="CreateEmployee" method="post">
    <div class="form-group">
        <label asp-for="UserID" class="control-label">Пользователь</label>
        <select asp-for="UserID" class="form-control">
            <option value="">Выберите пользователя</option>
            @foreach (var user in ViewBag.AvailableUsers)
            {
                <option value="@user.ID">@user.Login</option>
            }
        </select>
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecondName" class="control-label">Фамилия</label>
        <input asp-for="SecondName" class="form-control" />
        <span asp-validation-for="SecondName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName" class="control-label">Отчество</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="control-label">Дата рождения</label>
        <input asp-for="BirthDate" class="form-control" type="date" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Position" class="control-label">Должность</label>
        <input asp-for="Position" class="form-control" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Department" class="control-label">Подразделение</label>
        <input asp-for="Department" class="form-control" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
