﻿@model User

@{
    ViewBag.Title = "Зарегистрировать пользователя";
    Layout = "_Layout";
}

<h2>Регистрация пользователя</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="Employee">Сотрудник</option>
                    <option value="Guest">Гость</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PassID" class="control-label"></label>
                <select asp-for="PassID" class="form-control" asp-items="@ViewBag.PassList"></select>
                <span asp-validation-for="PassID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function generateRandomString(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!^&';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        $(document).ready(function () {
            var randomLogin = generateRandomString(8);
            var randomPassword = generateRandomString(12);
            $('#Login').val(randomLogin);
            $('#Password').val(randomPassword);
        });
    </script>
}
