﻿@model Pass

@{
    ViewBag.Title = "Регистрация пропуска";
    Layout = "_Layout";
    var rightsLevels = ViewBag.RightsLevels as List<RightsLevel>;
}

<h2>Регистрация пропуска</h2>

<div class="form-container">
    <div class="col-md-6">
        <form asp-action="CreatePass" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Type" class="control-label">Тип пропуска</label>
                <select asp-for="Type" class="form-control">
                    <option value="1">Одноразовый</option>
                    <option value="2">Временный</option>
                    <option value="3">Постоянный</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExpiredAt" class="control-label">Дата истечения пропуска</label>
                <input asp-for="ExpiredAt" class="form-control"/>
                <span asp-validation-for="ExpiredAt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Уровень прав</label>
                <div>
                    @foreach (var rightsLevel in rightsLevels)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="rightsIds" value="@rightsLevel.ID" id="rights_@rightsLevel.ID" />
                            <label class="form-check-label" for="rights_@rightsLevel.ID">
                                @rightsLevel.Description
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
