﻿@model TheAccessSystemCourseWork.Models.Guest

@{
    ViewBag.Title = "Изменение данных гостя";
    bool canEdit = User.IsInRole("Admin") || User.IsInRole("PassOfficeEmployee");
    Layout = "_Layout";
}

<h2>Изменение данных гостя</h2>

<form asp-action="EditGuest" method="post" asp-route-passport="@Model.Passport">
    <input type="hidden" asp-for="UserID"/>
    
    <div class="form-group">
        <label asp-for="Passport" class="control-label">Паспортные данные:</label>
        <input asp-for="Passport" class="form-control" readonly/>
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя:</label>
        @if (canEdit)
        {
            <input asp-for="FirstName" class="form-control" />
        }
        else
        {
            <input asp-for="FirstName" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="SecondName" class="control-label">Фамилия:</label>
        @if (canEdit)
        {
            <input asp-for="SecondName" class="form-control" />
        }
        else
        {
            <input asp-for="SecondName" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="MiddleName" class="control-label">Отчество:</label>
        @if (canEdit)
        {
            <input asp-for="MiddleName" class="form-control" />
        }
        else
        {
            <input asp-for="MiddleName" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона:</label>
        @if (canEdit)
        {
            <input asp-for="PhoneNumber" class="form-control" />
        }
        else
        {
            <input asp-for="PhoneNumber" class="form-control" readonly />
        }
    </div>
    @if (canEdit)
    {
        <button type="submit" class="btn btn-primary">Изменить</button>
    }
</form>
