﻿@model TheAccessSystemCourseWork.Models.Employee

@{
    ViewBag.Title = "Изменение данных сотрудника";
    bool canEdit = User.IsInRole("Admin") || User.IsInRole("PassOfficeEmployee");
    Layout = "_Layout";
}

<h2>Изменение данных сотрудника</h2>

<form method="post" asp-action="UpdateEmployee" asp-controller="PassOfficeEmployee">
    <input type="hidden" asp-for="ServiceNumber" />
    <input type="hidden" asp-for="BirthDate"/>

    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя:</label>
        @if (canEdit)
        {
            <input asp-for="FirstName" class="form-control" />
        }
        else
        {
            <input asp-for="FirstName" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="SecondName" class="control-label">Фамилия:</label>
        @if (canEdit)
        {
            <input asp-for="SecondName" class="form-control" />
        }
        else
        {
            <input asp-for="SecondName" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="MiddleName" class="control-label">Отчество:</label>
        @if (canEdit)
        {
            <input asp-for="MiddleName" class="form-control" />
        }
        else
        {
            <input asp-for="MiddleName" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="Position" class="control-label">Должность:</label>
        @if (canEdit)
        {
            <input asp-for="Position" class="form-control" />
        }
        else
        {
            <input asp-for="Position" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="Department" class="control-label">Подразделение:</label>
        @if (canEdit)
        {
            <input asp-for="Department" class="form-control" />
        }
        else
        {
            <input asp-for="Department" class="form-control" readonly />
        }
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона:</label>
        @if (canEdit)
        {
            <input asp-for="PhoneNumber" class="form-control" />
        }
        else
        {
            <input asp-for="PhoneNumber" class="form-control" readonly />
        }
    </div>
    @if (canEdit)
    {
        <button type="submit" class="btn btn-primary">Изменить</button>
    }
</form>
