﻿@model IEnumerable<TheAccessSystemCourseWork.Models.Guest>

@{
    ViewBag.Title = "Просмотр гостей";
    Layout = "_Layout";
}

<h2>Просмотр гостей</h2>

<p>
    <a asp-action="CreateGuest" class="btn btn-primary">Добавить гостя</a>
</p>

<div class="row mb-3">
    <div class="col-md-3">
        <label for="">Паспорт:</label>
        <input type="text" class="form-control" id="passport" name="passport">
    </div>
    <div class="col-md-3">
        <label for="firstName">Имя:</label>
        <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="col-md-3">
        <label for="secondName">Фамилия:</label>
        <input type="text" class="form-control" id="secondName" name="secondName">
    </div>
    <div class="col-md-3">
        <label for="middleName">Отчество:</label>
        <input type="text" class="form-control" id="middleName" name="middleName">
    </div>
    <div class="col-md-3">
        <label for="phoneNumber">Номер телефона:</label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" onclick="searchGuests()">Поиск</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Паспортные данные</th>
            <th>Номер телефона</th>
            <th>Пользователь</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        foreach (var guest in Model)
        {
            <tr>
                <td>@guest.SecondName @guest.FirstName @guest.MiddleName</td>
                <td>@guest.Passport</td>
                <td>@guest.PhoneNumber</td>
                <td>
                    @if (guest.User != null)
                    {
                        <a href="@Url.Action("Details", "User", new { id = guest.UserID })">@guest.User.Login</a>
                    }
                </td>
                <td><a href="/PassOfficeEmployee/EditGuest/@guest.Passport" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Изменить</a></td>
            </tr>
        }
    }
    </tbody>
</table>

@section Scripts {
    <script>
        function searchGuests() {
            var firstName = $('#firstName').val();
            var secondName = $('#secondName').val();
            var middleName = $('#middleName').val();
            var phoneNumber = $('#phoneNumber').val();
            var passport = $('#passport').val();

            var url = '/Guest/List?firstName=' + firstName
                                          + '&secondName=' + secondName
                                          + '&middleName=' + middleName
                                          + '&passport=' + passport
                                          + '&phoneNumber=' + phoneNumber;

            window.location.href = url;
        }
    </script>
}
