﻿@model List<Pass>

@{
    ViewBag.Title = "Просмотр пропусков";
    Layout = "_Layout";
}

<h2>Таблица пропусков</h2>

<p>
    <a asp-action="CreatePass" class="btn btn-primary">Добавить пропуск</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Идентификатор</th>
        <th>Создан</th>
        <th>Тип пропуска</th>
        <th>Дата ограничения</th>
        <th>Статус</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var pass in Model)
    {
        <tr>
            <td>@pass.ID</td>
            <td>@pass.CreatedAt</td>
            <td>@pass.Type.GetDisplayName()</td>
            <td>@pass.ExpiredAt</td>
            <td>@(pass.IsActive ? "Активен" : "Заблокирован")</td>
            <td>
                @if (pass.IsActive)
                {
                    <form asp-action="LockPass" method="post">
                        <input type="hidden" name="passId" value="@pass.ID" />
                        <button type="submit" class="btn btn-danger">Заблокировать</button>
                    </form>
                }
                else
                {
                    <form asp-action="UnlockPass" method="post">
                        <input type="hidden" name="passId" value="@pass.ID" />
                        <button type="submit" class="btn btn-success">Разблокировать</button>
                    </form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>