﻿@model IEnumerable<Employee>

@{
    ViewBag.Title = "Просмотр сотрудников";
    Layout = "_Layout";
}

<h2>Просмотр сотрудников</h2>

<p>
    <a asp-action="CreateEmployee" class="btn btn-primary">Добавить сотрудника</a>
</p>

<div class="row mb-3">
    <div class="col-md-3">
        <label for="firstName">Имя:</label>
        <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="col-md-3">
        <label for="secondName">Фамилия:</label>
        <input type="text" class="form-control" id="secondName" name="secondName">
    </div>
    <div class="col-md-3">
        <label for="position">Должность:</label>
        <input type="text" class="form-control" id="position" name="position">
    </div>
    <div class="col-md-3">
        <label for="department">Поздразделение:</label>
        <input type="number" class="form-control" id="department" name="department">
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-3">
        <label for="birthDate">Дата рождения:</label>
        <input type="date" class="form-control" id="birthDate" name="birthDate">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" onclick="searchEmployees()">Поиск</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Табельный</th>
            <th>Подразделение</th>
            <th>Должность</th>
            <th>Дата рождения</th>
            <th>Номер телефона</th>
            <th>Пользователь</th>
            <th>Пропуск</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.SecondName @employee.FirstName @employee.MiddleName</td>
                <td>@employee.ServiceNumber</td>
                <td>@employee.Department</td>
                <td>@employee.Position</td>
                <td>@employee.BirthDate.ToShortDateString()</td>
                <td>@employee.PhoneNumber</td>
                <td>
                    @if (employee.User != null)
                    {
                        <a href="@Url.Action("Details", "User", new { id = employee.UserID })">@employee.User.Login</a>
                    }
                </td>
                <td>
                    @if (employee.User?.Pass != null)
                    {
                        <a href="@Url.Action("Details", "Pass", new { id = employee.User.PassID })">@employee.User.Pass.Type.GetDisplayName()</a>
                    }
                </td>
                <td><a href="@Url.Action("EditEmployee", "PassOfficeEmployee", new { serviceNumber = employee.ServiceNumber })" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Изменить</a></td>
            </tr>
        }
    }
    </tbody>
</table>

@section Scripts {
    <script>
        function searchEmployees() {
            var firstName = $('#firstName').val();
            var secondName = $('#secondName').val();
            var position = $('#position').val();
            var department = $('#department').val();
            var birthDate = $('#birthDate').val();

            var url = '/PassOfficeEmployee/ViewEmployees?firstName=' + firstName
                                                    + '&secondName=' + secondName
                                                    + '&position=' + position
                                                    + '&department=' + department
                                                    + '&birthDate=' + birthDate;

            window.location.href = url;
        }
    </script>
}
